[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"

[scripts]
startdev = "python manage.py runserver 0.0.0.0:8000"
migrate = "python manage.py migrate"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
